# Application
BETTER_AUTH_URL=
NEXT_PUBLIC_BETTER_AUTH_URL=

# Authentication
BETTER_AUTH_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database
DATABASE_URL=

# AWS S3 Configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

# Resend
RESEND_API_KEY=

# Arcjet
ARCJET_KEY=
ARCJET_ENV=

